Unattended-Upgrade::Allowed-Origins {
    "${distro_id}:${distro_codename}";
    "${distro_id}:${distro_codename}-security";
    "${distro_id}:${distro_codename}-updates";
    "Docker:${distro_codename}";
    "elastic:stable";
{% if inventory_hostname in groups.gitlab %}
    "packages.gitlab.com/gitlab/gitlab-ce:${distro_codename}";
    "packages.gitlab.com/runner/gitlab-runner:${distro_codename}";
{% endif %}
};

Unattended-Upgrade::Package-Blacklist {};

Unattended-Upgrade::DevRelease "false";

Unattended-Upgrade::AutoFixInterruptedDpkg "true";

Unattended-Upgrade::MinimalSteps "true";

Unattended-Upgrade::InstallOnShutdown "false";

//Unattended-Upgrade::Mail "";

// "always", "only-on-error" or "on-change"
//Unattended-Upgrade::MailReport "on-change";

Unattended-Upgrade::Remove-Unused-Kernel-Packages "false";

// Do automatic removal of newly unused dependencies after the upgrade
//Unattended-Upgrade::Remove-New-Unused-Dependencies "true";

Unattended-Upgrade::Remove-Unused-Dependencies "true";

Unattended-Upgrade::Automatic-Reboot "true";

Unattended-Upgrade::Automatic-Reboot-WithUsers "false";

Unattended-Upgrade::Automatic-Reboot-Time "now";

Unattended-Upgrade::SyslogEnable "true";

Unattended-Upgrade::SyslogFacility "daemon";

Unattended-Upgrade::OnlyOnACPower "false";

Unattended-Upgrade::Skip-Updates-On-Metered-Connections "false";

Unattended-Upgrade::Verbose "false";

Unattended-Upgrade::Debug "false";

// Allow package downgrade if Pin-Priority exceeds 1000
// Unattended-Upgrade::Allow-downgrade "false";

// When APT fails to mark a package to be upgraded or installed try adjusting
// candidates of related packages to help APT's resolver in finding a solution
// where the package can be upgraded or installed.
// This is a workaround until APT's resolver is fixed to always find a
// solution if it exists. (See Debian bug #711128.)
// The fallback is enabled by default, except on Debian's sid release because
// uninstallable packages are frequent there.
// Disabling the fallback speeds up unattended-upgrades when there are
// uninstallable packages at the expense of rarely keeping back packages which
// could be upgraded or installed.
// Unattended-Upgrade::Allow-APT-Mark-Fallback "true";
