Defaults        env_reset
Defaults        mail_badpass
Defaults        secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin{% if inventory_hostname in groups.gitlab %}:/opt/gitlab/embedded/bin{% endif %}"

root    ALL=(ALL:ALL) ALL

{% if host_admin_user != 'root' %}
{{ host_admin_user }} ALL=(ALL) ALL
{% endif %}

{{ host_user }} ALL=(ALL) ALL
{% if host_user2 is defined %}{{ host_user2 }} ALL=(ALL) ALL{% endif %}

Cmnd_Alias NAGIOS_FAIL2BAN = /usr/bin/fail2ban-client ping, /usr/bin/fail2ban-client banned       
Defaults!NAGIOS_FAIL2BAN !log_allowed
nagios ALL = (root) NOPASSWD: NAGIOS_FAIL2BAN

Cmnd_Alias NAGIOS_DOCKER = /usr/bin/docker ps --format {{ '{{' }}.Names{{ '}}' }} --filter name=* --no-trunc --all, /usr/bin/docker ps --format {{ '{{' }}.Names{{ '}}' }} --filter name=* --no-trunc, /usr/bin/docker stats --format {{ '{{' }}.Name{{ '}}' }}\:{{ '{{' }}.CPUPerc{{ '}}' }}\:{{ '{{' }}.MemPerc{{ '}}' }} --no-stream
Defaults!NAGIOS_DOCKER !log_allowed
nagios ALL = (root) NOPASSWD: NAGIOS_DOCKER

{% if inventory_hostname in groups.gitlab %}
Cmnd_Alias NAGIOS_GITLAB = /opt/gitlab/bin/gitlab-ctl status
Defaults!NAGIOS_GITLAB !log_allowed
nagios ALL = (root) NOPASSWD: NAGIOS_GITLAB
{% endif %}
